
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI', sans-serif;
}

body{
background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
color:white;
padding:20px;
}


h1{
color:#00ffd5;
margin-bottom:10px;
letter-spacing:2px;
}


img{
margin-top:10px;
margin-bottom:10px;
border-radius:15px;
box-shadow:0 0 15px rgba(0,0,0,0.6);
}


nav{
background: rgba(0,0,0,0.6);
padding:15px;
margin-top:15px;
border-radius:10px;
backdrop-filter: blur(8px);
}


nav a{
color:white;
text-decoration:none;
margin:15px;
font-size:18px;
padding:8px 15px;
border-radius:20px;
transition:0.3s;
}
nav a:hover{
background:#00ffd5;
color:black;
box-shadow:0 0 10px #00ffd5;
}


h3{
margin-top:25px;
margin-bottom:15px;
color:#00ffd5;
}


input[type="text"]{
padding:10px;
width:250px;
border:none;
border-radius:20px;
outline:none;
}


button, input[type="Reset"]{
padding:10px 18px;
border:none;
background:#00ffd5;
color:black;
border-radius:20px;
cursor:pointer;
margin-left:10px;
transition:0.3s;
}


button:hover, input[type="Reset"]:hover{
box-shadow:0 0 10px #00ffd5;
}


nav img{
margin-top:20px;
border-radius:10px;
}

nav p{
margin-top:5px;
font-size:18px;
}
