
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI', sans-serif;
}
body{
background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
color:white;
padding:20px;
}
h1{
color:#00ffd5;
letter-spacing:2px;
margin-bottom:10px;
}
center img{
margin-top:10px;
border-radius:15px;
box-shadow:0 0 15px rgba(0,0,0,0.6);
}
nav{
background: rgba(0,0,0,0.6);
padding:15px;
margin-top:15px;
border-radius:10px;
backdrop-filter: blur(8px);
}
nav a{
color:white;
text-decoration:none;
margin:15px;
font-size:18px;
padding:8px 15px;
border-radius:20px;
transition:0.3s;
}
nav a:hover{
background:#00ffd5;
color:black;
box-shadow:0 0 10px #00ffd5;
}
h3{
margin-top:30px;
margin-bottom:15px;
color:#00ffd5;
}
.movie-grid{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:25px;
margin-bottom:30px;
}
.movie-card{
background: rgba(0,0,0,0.5);
padding:15px;
border-radius:15px;
text-decoration:none;
color:white;
width:200px;
text-align:center;
transition:0.3s;
box-shadow:0 0 10px rgba(0,0,0,0.5);
}
.movie-card img{
width:100%;
height:250px;
border-radius:10px;
}
.movie-card p{
margin-top:10px;
font-size:18px;
}
.movie-card:hover{
transform: scale(1.05);
box-shadow:0 0 15px #00ffd5;
}
center p{
margin-top:30px;
padding:15px;
background: rgba(0,0,0,0.6);
border-radius:10px;
}
